.modal-parent{
    position: fixed;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100vh;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}

.modal-parent.active{
    opacity: 1;
    visibility: visible;
}